@import '../../../assets/styles/variables.module';

.Button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: $control-border-width solid $button-background-color;
  border-radius: 1.5em;
  box-shadow: none;
  color: $button-color;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 400;
  height: $control-height;
  justify-content: center;
  line-height: 1.25rem;
  overflow: hidden;
  padding-bottom: $button-padding-vertical;
  padding-left: $button-padding-horizontal;
  padding-right: $button-padding-horizontal;
  padding-top: $button-padding-vertical;
  position: relative;
  text-align: center;
  transform: scale(1.00001); // Hack for some phone that do not fill the entire background
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  vertical-align: top;
  white-space: nowrap;
  will-change: color;
  z-index: 1;

  &::before {
    background-color: $button-background-color;
    content: '';
    height: calc(100% + (#{$control-border-width} * 2));
    left: -$control-border-width;
    position: absolute;
    top: -$control-border-width;
    transition: background-color 0.4s ease-in-out;
    width: calc(100% + (#{$control-border-width} * 2));
    z-index: -1;
  }

  &:not(.is-loading) {
    &::after {
      background-color: $button-color;
      border-radius: 50%;
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
      width: 0;
      will-change: transform, width, height;
      z-index: -1;
    }
  }

  &:not([disabled]):hover {
    color: $button-background-color;

    &::after {
      height: 15%;
      transform: translate(-50%, -50%) scale(25);
      width: 5.25%;
    }
  }

  // States
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;

    &::after {
      transition: none;
    }
  }

  &.is-loading {
    &::after {
      @include loader;
      color: transparent !important;
      transition: none;
    }
  }

  &.invert {
    border-color: $button-color;
    color: $button-background-color;

    &::before {
      background-color: $button-color;
    }

    &::after {
      background-color: $button-background-color;
    }


    &:not([disabled]):hover {
      color: $button-color;
    }
  }

  &.error {
    color: $button-background-color;

    &::before {
      background-color: $red-dark;
    }
  }
}
