@import '../../../assets/styles/variables.module';

.CircleContainer {
  width: 100%;

  &-body {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: $primary;
    border-radius: 50%;
    min-width: 1em;
    position: relative;
    vertical-align: middle;
    width: 100%;

    &::before {
      content: '';
      float: left;
      padding-bottom: 100%;
      width: auto;
    }

    &-content {
      align-items: center;
      color: $primary-invert;
      display: flex;
      flex-direction: column;
      font-size: responsive-size(26, 32);
      font-weight: 300;
      justify-content: center;
      line-height: responsive-size(30, 39);
      max-height: 100%;
      text-align: center;
      width: 75%;

      > .Button {
        margin-top: 1rem;

        &:not(:hover) {
          border-color: #000;
        }
      }
    }
  }
}

.CircleContainer.half {
  @include desktop {
    height: 100%;

    .CircleContainer-body {
      height: 100vh;
      justify-content: left;
      max-height: 100%;

      &-content {
        align-items: flex-start;
        padding: 0 2.5rem 0 3.5rem;
        text-align: left;
        width: 50%;
      }
    }
  }
}

.CircleContainer.invert {
  width: 100%;
  background-image: radial-gradient(circle at 33.33%, $primary-invert 33.33%, transparent 33.33%);
  background-position: 16.5% center;
  background-size: 200%;

  .CircleContainer-body {
    border: 0 !important;
    &-content {
      color: $primary;
    }
  }
}

.CircleContainer.border {
  .CircleContainer-body {
    border: solid 1px $primary;
  }
}
