@import '../../../../assets/styles/variables.module';

.Presentation {
  flex-wrap: wrap;
  margin-bottom: responsive-gap(2);

  @include desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: $gap;

    &-title {
      width: 55%;
    }

    &-description {
      margin-top: responsive-size(10, 22);
      width: 40%;
    }
  }

  &-title,
  &-description {
    margin-bottom: $gap;
  }

  &-title {
    $min-font-size: 20;
    $max-font-size: 48;
    $line-height-multiply: 1.75;
    font-size: responsive-size($min-font-size, $max-font-size);
    line-height: responsive-size($min-font-size * $line-height-multiply, $max-font-size * $line-height-multiply);
    position: relative;

    &-main {
      font-size: 0.875rem;
      line-height: 1.125rem;
      margin-bottom: responsive-gap(0.5);
      text-transform: uppercase;
      width: 100%;
    }
  }

  &-description {
    // Bigger than requested in Figma design from Quorum request
    font-size: responsive-size(16, 26);
    line-height: responsive-size(24, 34);

    mark {
      // Bigger than requested in Figma design from Quorum request
      font-size: responsive-size(14, 22);
      line-height: responsive-size(22, 30);
      padding: 0.125rem 0.3125rem;
    }
  }

  mark {
    background-color: $grey;
    border-radius: 1rem;
    white-space: nowrap;
  }

  @each $category, $colors in $categories-color {
    $color: nth($colors, 1);
    .#{$category}-mark {
      background-color: $color;
    }
  }
}
