@import '../../../../assets/styles/variables.module';

.FooterNavigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  position: relative;

  @include desktop {
    .SiteMenus {
      width: 58%;
    }

    .branding {
      width: 42%;

      .SiteBrand {
        height: 6rem;
      }
    }
  }

  .social-menu,
  .SiteBrand {
    svg {
      fill: $primary-invert;
    }
  }

  a {
    color: $primary-invert;
  }

  .branding {
    margin-bottom: $gap;
    position: relative;
  }
}
