@import '../../../../assets/styles/variables.module';

.FontSwitcher {
  > span {
    position: relative;

    &::before,
    &::after {
      content: attr(data-letter);
      display: inline-block;
      opacity: 1;
      transition: opacity 25ms;
    }

    &::after {
      @extend %has-font-secondary;
      left: 0;
      opacity: 0;
      position: absolute;
      width: 100%;
    }
    @for $i from 1 through 30 {
      $rand: random(200);
      &:nth-child(#{$i}) {
        &::before {
          transition-delay: $rand * 1ms;
        }

        &::after {
          transition-delay: $rand * 1ms;
        }
      }
    }
  }

  &:hover {
    > span {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}
