@import '../../../assets/styles/variables.module';

.MainMenu {
  .hamburger {
    margin-left: 0.625rem;
    width: 1rem;

    &::before,
    &::after,
    span {
      background-color: $primary-invert;
      content: '';
      display: block;
      height: 1px;
      margin: 4px 0;
      transition: background-color 0.4s ease-in-out;
    }
  }

  &:hover {
    .hamburger {
      &::before,
      &::after,
      span {
        background-color: $primary;
      }
    }
  }
}

.Modal {
  &.fade-enter {
    opacity: 0;
  }

  &.fade-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }

  &.fade-exit {
    opacity: 1;
  }

  &.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
}
