@import '../../../assets/styles/variables.module';

.SocialIcons {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include desktop {
    justify-content: initial;
  }
}
