@import '../../../../assets/styles/variables.module';

.HomeChartDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $gap;

  @include desktop {
    flex-direction: row;
  }

  &-content {
    align-items: flex-start;
    border-top: 1px solid $border-color;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
    text-transform: uppercase;
    width: 100%;

    &-title {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      font-size: responsive-size(12, 15);
      line-height: responsive-size(15, 19);
    }

    .linebreak {
      display: block;
    }
  }

  &-content.multi {
    @include desktop {
      width: calc(100% / 3 - 1rem);

      .title {
        font-size: 0.6rem;
      }
    }
  }
}
