@import '../../../../assets/styles/variables.module';

.HomeChartEventLabel {
  &-tooltip {
    background: $primary;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    min-height: 8rem;
    overflow: hidden;
    width: 20rem;

    &-image {
      height: 8rem;
      width: 8rem;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &-content {
      color: $primary-invert;
      padding: responsive-gap(0.5);

      .label {
        font-size: 0.75rem;
        line-height: 1rem;
        margin-bottom: 0.625rem;
        text-transform: uppercase;
      }
    }
  }

  > .recharts-label {
    pointer-events: none;
  }
}
