@import '../../../../assets/styles/variables.module';

.NavToolBox {
  align-items: center;
  display: flex;
  font-size: 1rem;

  &-lang {
    margin-right: 1rem;
  }

  .Button {
    min-width: 7.25rem;
    padding: 0.625rem 1.25rem;
  }
}
