@import '../../../assets/styles/variables.module';

.CategoryTitle {
  align-items: center;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: responsive-gap(0.5);
  text-transform: uppercase;

  &-icon {
    display: inline-flex;
    margin-right: 0.5rem;

    svg {
      width: 1.25rem;
    }
  }
}
