@import '../../../assets/styles/variables.module';

.SitePage {
  display: flex;
  flex-direction: column;
  position: relative;
}

aside {
  display: none;
}

.full-page {
  @include computed-vh-height($prefix: 'min');
  transition: background-color 1s ease;
}
