@import '../../../assets/styles/variables.module';

@keyframes spin-common {
  0% {
    transform: rotate(0deg);
    border-top-color: $accent1;
  }
  30% {
    border-top-color: $accent1;
  }
  33% {
    transform: rotate(360deg);
    border-top-color: $accent2;
  }
  63% {
    border-top-color: $accent2;
  }
  66% {
    transform: rotate(720deg);
    border-top-color: $accent3;
  }
  97% {
    border-top-color: $accent3;
  }
  100% {
    transform: rotate(1080deg);
    border-top-color: $accent1;
  }
}

@keyframes spin-category {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.LoadingSpinner {
  border: 10px solid $grey-light;
  border-radius: 50%;
  width: 80px;
  height: 80px;

  transition: border-color ease 250ms;

  @each $category, $colors in $categories-color {
    $color: nth($colors, 1);
    &.#{$category} {
      border-color: $black;
      border-bottom-color: $color;
      animation: spin-category 5s linear infinite;
    }
  }

  &.common {
    animation: spin-common 5s linear infinite;
  }
}
