@import '../../../../assets/styles/variables.module';

.ArticlePreview {
  display: flex;
  flex-direction: column;

  @include until($desktop) {
    border-bottom: 1px solid $border-color;
    margin-bottom: $gap;
  }

  @include desktop {
    flex-direction: row-reverse;
  }

  &-figure-wrapper {
    padding: 0 0 responsive-gap(0.5);
    width: 100%;

    @include desktop {
      width: 60%;
    }
  }

  &-figure {
    background-color: $secondary;
    overflow: hidden;
    padding-bottom: 56.25%; // 16x9 ratio
    position: relative;
    width: 100%;

    > img {
      height: 100%;
      left: 50%;
      object-fit: contain;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-content {
    padding: responsive-gap(0.5) 0;

    @include desktop {
      border-top: 1px solid $border-color;
      flex-grow: 1;
      margin-right: $gap;
      width: 45%;
    }

    &-header {
      display: flex;
      margin-bottom: $gap;
      text-transform: uppercase;

      &-date {
        font-size: responsive-size(12, 15);
        line-height: responsive-size(15, 19);
      }
    }

    &-title {
      font-size: responsive-size(26, 46);
      line-height: responsive-size(30, 56);
      margin-bottom: 2.5rem;
    }

    &-read {
      align-items: center;
      display: flex;
      text-transform: uppercase;

      .chevron {
        align-items: center;
        background: $primary-invert;
        border-radius: 50%;
        display: inline-flex;
        height: 2em;
        justify-content: center;
        margin-right: 0.5rem;
        width: 2em;
      }
    }
  }

  @each $category, $colors in $categories-color {
    $color: nth($colors, 1);
    &.#{$category} {
      .chevron {
        background-color: $color;
      }
    }
  }
}
