@import '../../../assets/styles/variables.module';

.Article {
  .section-inner {
    @include desktop {
      width: calc(100% - #{$site-aside-width});
    }
  }

  .content-ordering {
    .section-inner {
      padding: $gap;
    }
  }

  &-header {
    padding-bottom: 0 !important;
    position: relative;

    &-icon {
      display: none;

      @include desktop {
        display: flex;
        left: 50%;
        position: absolute;
        top: -($header-height / 2);
        transform: translate(-50%, -50%);
      }
    }

    &-back {
      align-items: center;
      display: flex;
      font-size: responsive-size(12, 15);
      line-height: responsive-size(15, 20);
      text-transform: uppercase;

      .chevron {
        align-items: center;
        background: $primary;
        border-radius: 50%;
        display: inline-flex;
        height: 2rem;
        justify-content: center;
        margin-right: 0.5rem;
        width: 2rem;
      }
    }
  }

  &-content {
    padding-left: responsive-gap(1);
    padding-right: responsive-gap(1);

    .Markdown {
      h1 {
        @include desktop {
          margin-bottom: responsive-gap(1);
          max-width: 80%;
        }
      }
    }

    &-intro {
      display: flex;
      flex-direction: column;
      margin-bottom: responsive-gap(1.5);

      @include desktop {
        flex-direction: row-reverse;

        > div {
          display: flex;
          width: 50%;
        }
      }
    }

    &-published {
      border-top: 1px solid $black;
      display: flex;
      font-size: responsive-size(13, 15); // Metadata size
      justify-content: space-between;
      line-height: 1.5;
      margin: responsive-gap(1) 0;
      padding-top: responsive-gap(0.5);

      @include desktop {
        margin: 0 0 0 responsive-gap(2);
        padding-top: 0;
        border-top: none;
        border-left: 1px solid $black;
        padding-left: responsive-gap(1);
        flex-direction: column;
        justify-content: flex-start;
      }

      > div {
        width: 100%;
        margin-bottom: 0.5em;
      }

      > div > span {
        display: block;
      }
    }
  }

  &-figure {
    background-color: $beige;
    margin: responsive-gap(2) 0;
    overflow: hidden;
    padding-bottom: 56.25%; // 16x9 ratio
    position: relative;
    width: 100%;

    > img {
      height: 100%;
      left: 50%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-footer {
    border-top: 1px solid $black;
    margin-top: responsive-gap(3);
    padding-top: responsive-gap(1);

    @include desktop {
      margin-top: responsive-gap(5);
      max-width: 60%;
    }
  }

  @each $category, $colors in $categories-color {
    $color: nth($colors, 1);
    &.#{$category} {
      .CategoryTitle-icon {
        .current {
          fill: $color;
        }
      }

      .Article-header-back {
        .chevron {
          background: $color;
        }
      }

      .Markdown-dropcap {
        > :first-of-type::first-letter {
          background: $color;
        }
      }
    }
  }
}
