@import '../../../../assets/styles/variables.module';

.FooterLegal {
  border-top: 1px solid $primary-invert;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.88rem;
  padding-top: $gap;

  @include until($desktop) {
    justify-content: space-between;

    &-privacy,
    &-copy,
    &-conditions,
    &-logo {
      margin-bottom: 1rem;
      width: calc(50% - 0.5rem);
    }
  }

  @include desktop {
    width: calc(100% - 14rem);

    &-logo {
      float: right;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 12rem;
    }

    &-privacy,
    &-copy,
    &-conditions {
      margin-right: 1rem;

      @include desktop {
        margin-right: 2rem;
      }
    }

    &-privacy,
    &-conditions {
      order: 3;
    }

    &-copy {
      order: 1;
    }
  }

  a {
    color: $primary-invert;

    &:hover {
      opacity: 0.5;
    }
  }

  &-wrapper {
    padding: 0;
    position: relative;
  }

  &-logo {
    svg {
      fill: $primary-invert;
    }
  }
}
