@import '../../../assets/styles/variables.module';

.SiteMenus {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  line-height: 1.5;

  .primary-menu,
  .secondary-menu {
    flex-direction: column;
  }

  .secondary-menu,
  .social-menu {
    width: 50%;
  }

  .primary-menu,
  .secondary-menu,
  .social-menu {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $gap;
    position: relative;
  }

  .social-menu {
    align-self: flex-end;

    @include desktop {
      flex-direction: row;
      width: 40%;

      a:not(:last-child) {
        margin: 0 2rem 0 0;
      }
    }

    svg {
      width: 1.2rem;
    }
  }

  .primary-menu {
    font-size: responsive-size(30, 44);
    line-height: responsive-size(36, 53);
    width: 100%;

    @include desktop {
      margin-bottom: 5rem;
      width: 65%;
    }

    a:not(:last-child) {
      padding-bottom: 1.25rem;
    }
  }

  .secondary-menu {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 0.5rem;

    @include desktop {
      width: 35%;
    }

    a:not(:last-child) {
      margin-bottom: 1.25rem;
    }

    a:hover {
      opacity: 0.5;
    }
  }
}

.SiteMenus.modal {
  height: 100%;
  justify-content: space-between;

  @include desktop {
    .primary-menu {
      font-size: responsive-size(60, 100);
      line-height: responsive-size(70, 120);
      width: 100%;
    }

    .secondary-menu,
    .social-menu {
      margin: 0;
    }

    .secondary-menu {
      align-self: flex-end;
      flex-direction: row;
      justify-content: space-between;
      width: 45%;

      a {
        margin-bottom: 0;
      }
    }

    .social-menu {
      align-items: center;
      width: 20%;

      .SocialIcons {
        justify-content: flex-end;
      }
    }
  }
}
