@import '../../../assets/styles/variables.module';

.CategoryPage {
  .section-inner {
    @include desktop {
      width: 100%
    }
  }

  .content-ordering {
    .section-inner {
      padding: $gap;
    }
  }

  &-header {
    padding-bottom: 0;
  }

  &-image {
    background-position: center;
    background-size: cover;
    height: 30rem;
    margin-bottom: responsive-gap(-1);
    margin-left: responsive-gap(-1);
    object-fit: cover;
    width: calc(100% + #{responsive-gap(2)});

    @include widescreen {
      height: 45rem;
      width: calc(100% + #{$site-aside-width} + #{responsive-gap(2)});
    }
  }

  &-module {
    background-color: $background;
    border-top: 1px solid $border-color;

    .section-inner {
      padding: $gap;
    }
  }

  &-articles {
    background-color: $background;

    &-teaser {
      display: flex;
      align-items: center;
      font-size: responsive-size(26, 32);
      font-weight: 300;
      line-height: responsive-size(30, 39);
      margin-bottom: $gap;

      &-cnt {
        align-items: center;
        border-radius: 50%;
        display: flex;
        font-size: 1.25rem;
        height: 3.5rem;
        justify-content: center;
        line-height: 1.5rem;
        margin-top: 1rem;
        width: 3.5rem;

        @include desktop {
          display: inline-flex;
          margin-left: 1rem;
          margin-top: 0;
        }
      }
    }
  }

  @each $category, $colors in $categories-color {
    $color: nth($colors, 1);
    &.#{$category} {
      background-color: $color;

      .CategoryPage-image {
        background-image: url('../../../assets/images/categories/#{$category}.jpg');
      }

      .CategoryPage-articles-teaser-cnt {
        background-color: $color;
      }

      .CategoryHeader-description-link {
        .chevron svg path {
          stroke: $color;
        }
      }

      .CircleContainer-body-content {
        color: $color;

        .chevron {
          background-color: $color;
        }
      }
    }
  }
}
