@import '../../../assets/styles/variables.module';

$form-input-size: 1.5rem;

.FormCheckboxRadio {
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding-left: calc(#{$form-input-size} + #{responsive-gap(0.5)});
  position: relative;
  user-select: none;
  width: 100%;

  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  &-mark {
    border: 1px solid $border-color;
    height: $form-input-size;
    left: 0;
    position: absolute;
    top: 0;
    width: $form-input-size;

    &::after {
      border: solid $primary-invert;
      border-width: 0 3px 3px 0;
      content: '';
      display: none;
      height: 50%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 25%;
    }
  }

  input:checked~.FormCheckboxRadio-mark {
    background-color: $primary;

    &::after {
      display: block;
    }
  }

  &.hasErrors {
    color: $red;
  }

  &.radio {
    .FormCheckboxRadio-mark {
      border-radius: 50%;
    }
  }
}
