@import '../../../assets/styles/variables.module';

.MainNavbar {
  align-items: center;
  border-bottom: 1px solid $border-color;
  display: flex;
  height: $header-height-mobile;
  justify-content: space-between;
  padding: 0 $gap;
  width: 100%;

  @include desktop {
    height: $header-height;
  }

  a:visited {
    color: $primary;
  }
}
