@import './variables.module';

// Some basics to ensure the app look the same in most browsers

html {
  background-color: $body-background-color;
  box-sizing: border-box;
  font-family: $family-primary;
  font-size: $body-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-y: scroll;
  padding: 0;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;
}

body {
  color: $body-color;
  font-size: $body-font-size;
  line-height: $body-line-height;
  margin: 0;
  padding: 0;
}

* {
  &,
  &::before,
  &::after {
    border: 0;
    box-sizing: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
  }
}

*:focus {
  outline: 0;
}

body,
button,
input,
select,
textarea {
  font-family: $body-family;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

// Fonts

@font-face {
  font-display: auto;
  font-family: Superdot;
  font-size: 100%;
  font-style: bold;
  font-weight: 700;
  src: url('./fonts/Superdot/Superdot-Bold.woff2') format('woff2'),
    url('./fonts/Superdot/Superdot-Bold.woff') format('woff');
}

@font-face {
  font-display: auto;
  font-family: Superpose;
  font-size: 100%;
  font-style: light;
  font-weight: 300;
  letter-spacing: 50px;
  src: url('./fonts/Superpose/Superpose-Light.woff2') format('woff2'),
    url('./fonts/Superpose/Superpose-Light.woff') format('woff');
}
@font-face {
  font-display: auto;
  font-family: Superpose;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Superpose/Superpose-Regular.woff2') format('woff2'),
    url('./fonts/Superpose/Superpose-Regular.woff') format('woff');
}
@font-face {
  font-display: auto;
  font-family: Superpose;
  font-size: 100%;
  font-style: bold;
  font-weight: 700;
  src: url('./fonts/Superpose/Superpose-Bold.woff2') format('woff2'),
    url('./fonts/Superpose/Superpose-Bold.woff') format('woff');
}

// Utilities

.container {
  flex-grow: 1;
  margin: 0 auto;
  max-width: none;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.keep-scroll {
  bottom: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  color: $link-color;
}

.is-sr-only {
  // Hide elements visually but keep the element available to be announced by a screen reader.
  // a11y: Useful to add more context.
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0.01em !important;
}

.is-underlined {
  text-decoration: underline;
}

.has-font-secondary {
  @extend %has-font-secondary;
}

.has-font-weight-light {
  font-weight: 300;
}

.has-font-weight-bold {
  font-weight: 700;
}
