@import '../../../../assets/styles/variables.module';


.MenuLayout {
  color: $primary;
  position: relative;
  transition: background-color 0.4s ease, color 0.4s ease;
  width: 100%;

  @include desktop {
    height: 100vh;

    &-body {
      height: calc(100vh - #{$header-height});
    }
  }

  .close {
    padding: 0 0.75rem 0 0.5rem;

    &::before,
    &::after {
      border-bottom: 1px solid $primary-invert;
      content: '';
      height: 0;
      position: absolute;
      transform: rotate(45deg);
      transition: border-bottom-color 0.4s ease;
      width: 18%;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  a {
    color: $primary;
  }

  aside {
    display: block;
  }

  .MainNavbar {
    border-bottom: 1px solid $border-color;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $gap;
  }

  .social-menu {
    svg {
      fill: $primary;
    }
  }

  &.common {
    background-color: $primary;
    color: $primary-invert;

    @include desktop {
      aside {
        border-left: 1px solid $border-color-invert;
      }
    }

    .section-inner a {
      color: $primary-invert;
    }

    aside {
      @include until($desktop) {
        border-top: 1px solid $primary-invert;
      }
    }

    .MainNavbar {
      border-bottom: 1px solid $border-color-invert;

      .close {
        &::before,
        &::after {
          border-bottom: 1px solid $primary;
        }
      }

      .Button:hover {
        .close {
          &::before,
          &::after {
            border-bottom-color: $primary-invert;
          }
        }
      }
    }

    .social-menu,
    .SiteBrand {
      svg {
        fill: $primary-invert;
      }
    }

    .CircleContainer-body {
      border: 0;
    }
  }

  @each $category, $colors in $categories-color {
    $color: nth($colors, 1);
    &.#{$category} {
      background-color: $color;

      .MainNavbar {
        .Button {
          border-color: $color;
          color: $color;

          &::before {
            background-color: $primary;
          }
        }

        .Button:not(:hover) .close {
          &::before,
          &::after {
            border-bottom-color: $color;
          }
        }
      }

      .CircleContainer-body {
        border: 1px solid $border-color;
      }
    }
  }
}
