@import '../../../assets/styles/variables.module';

.HomeChart {
  flex-grow: 1;
  height: 55vh;
  position: relative;
  width: 100%;

  @include desktop {
    height: 100%;
  }

  @include until($desktop) {
    .recharts-responsive-container {
      height: calc(100% - 12rem) !important;
    }
  }

  .recharts-responsive-container {
    margin-left: responsive-gap(-1);
    width: calc(100% + #{$gap}) !important;
  }

  .recharts-surface {
    overflow: visible;
  }

  .recharts-reference-dot {
    > .recharts-label {
      pointer-events: none;
    }
  }

  &-event {
    svg {
      pointer-events: none;
    }
  }

  .recharts-reference-line {
    > .recharts-label {
      font-size: 0.88rem;
    }
  }

  .recharts-cartesian-axis-tick {
    > .recharts-text {
      fill: $primary;
      fill-opacity: 0.5;
      font-size: 0.88rem;
    }
  }
}
