@import '../../../assets/styles/variables.module';

.HomePage {
  background-color: transparent;
  transition: background 0.5s ease-in;

  @each $category, $colors in $categories-color {
    $color: nth($colors, 1);
    &.#{$category} {
      background-color: $color;

      .CategorySection {
        .Button {
          color: $color;

          &::after {
            background-color: $color;
          }

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
